@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    color:#fff;
    text-decoration: none;
    transition: 0.3s ease;
}
body{
    background: #000;
    padding: 0;
    margin: 0;
    position: inherit;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: black;
    backdrop-filter: blur(10px);
    align-items: center ;
    width: 100%;
    height: auto;
    position: fixed;top: 0;left: 0;
}

.header .nav-bar ul{
    list-style: none;
    display: flex;
}
.logo{
    cursor: pointer;
}
.nav-bar-link{
    margin-inline: 1rem;
    text-decoration: none;
    border: 2px solid rgba(3, 228, 3,0);
    border-radius: 8px;
    padding:0.5rem 1rem;
    transition: 0.2s ease;
    
}
.nav-bar-link:hover{
    color:rgb(3, 228, 3);
    border-color: rgb(3, 228, 3);
    
}
.coloured{
    font-weight: bold;
    color: rgb(3, 228, 3);
}
.non-coloured{
    font-weight: bold;
}




.home{
    display: flex;
    /* padding:4rem 3rem; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.main-image{
    
    background:none;
    height:400px;
    width: 400px;
   
}

.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    border-radius: 50%;
    box-shadow: 0px 0px 19px 5px rgb(3, 228, 3,0.75);

}
.main-image:hover img{
    box-shadow: 0px 0px 38px 10px rgb(3, 228, 3,0.75);
}
.home-section{
    margin-inline: 2rem;   
}
.home-left{
    max-width: 50%;
    text-align: right;
    margin-right: 2rem;
   
}
.big-text{
    margin: 0;padding: 0;
    font-size: 3rem;
}
.big-text2{
    margin: 0;padding: 0;
    font-size: 2.5rem;
}
.home-contacts{
    margin-bottom: 30px;
    /* border: 3px solid red; */
}
.home-contacts i{
    font-size: 2rem;
    color:rgb(3, 228, 3);
    height: inherit;
    border: 2px solid rgb(3, 228, 3);
    padding: 10px;
    width: inherit;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}
.home-contacts i:hover{
    box-shadow: 0px 0px 10px 3px rgb(3, 228, 3,0.75);

}

.btn{
    padding:1rem 2rem;
    border:none;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(3, 228, 3);
    margin-block: 30px;
    box-shadow: 0px 0px 10px 3px rgb(3, 228, 3,0.75);
    text-align: center;
}
#about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:auto;
    background: #0f0f0f;
}
.about-right,.about-left{
    max-width: 50%;
}
.about-left{
    margin-left: 3rem;
}
.about-text{
    text-align: left;
    margin-bottom: 3rem;
}

#services{
    width: 100%;
    height: 100vh;
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}
.section-title{
    color:rgb(0, 255, 0);
    margin-bottom: 2rem;
}
.card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 3rem;
}
.card,.card-projects{
    border: 2px solid rgb(3, 228, 3);
    border-radius: 20px;
    min-height: 500px;
    max-height: 500px;
    min-width: 450px;
    margin-inline: 2rem;
    padding: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(2, 209, 2);
    transition: 0.3s ease;
    
}

.card:hover,.card-projects:hover{
    background-color: rgb(0, 88, 0);
}
.card .card-title{
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}
.card .card-text{
    color: #000;
}

.icon{
    text-align: center;
}
.icon i{
    font-size: 4rem;
    color: #000;
}
.card:hover .card-title,.card:hover .card-text,.card:hover .icon i,
.card-projects:hover .card-title,.card-projects:hover .card-text{
    color:rgb(0, 255, 0);
}
.projects{
    background: #0f0f0f;
    padding: 2rem;
    
}
.projects-title,.contacts-title{
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
.card-projects{
    background-color: transparent;
    color: #fff;
}
.card-projects .card-text, .card-projects .card-title{
    color: rgb(0, 255, 0);
}
.card-projects .card-title{
    text-align: center;
}


.image-project{
    width: 100%;
    padding:0.5rem;
}
.image-project img{
    width: 100%;
    max-height: 60%;
}
.contacts{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left{
    margin: 2rem;
}
.input-form input{
    outline: none;
    border: 2px solid rgb(0, 255, 0);
    width: 30vw;
    padding: 1rem 2rem;
    margin-block: 1rem;
    border-radius: 10px;
    background: transparent;
    font-size: 1rem;
    color:rgb(0, 255, 0);
}

.text-message{
    width: 30vw;
    outline: none;
    height: 20vh;
    margin-block: 2rem;
    border: 2px solid rgb(0, 255, 0);
    background: transparent;
    border-radius: 10px;
    padding: 1rem 2rem;
}
footer{
    text-align: center;
    margin-block: 2rem;
}

@media screen and (max-width:965px){
    body{
        overflow-x: hidden;
    }
    
    .header .nav-bar ul{
        display: none;
    }
    .home{
        display: flex;
    padding:4rem 3rem;
    align-items: center;
    height: 140vh;
    flex-direction: column-reverse;
    }

    .home-left{
        max-width: 100%;
        text-align: center;
        margin-block: 3rem;
    }
    #about{
        flex-direction: column;
        align-items: center;
        height: 140vh;
    } 
    .about-right{
        width: 100%;
    }
    .about-left{
        max-width: 100%;
        text-align: center;
        margin-block: 3rem;
    }
    .about-text{
        margin-bottom: 0;
        text-align: center;

        
    }
    #services{
        height: 300vh;
    }
    .card-container{
        flex-direction: column;
    }
    .card-projects,.card{
        margin-bottom: 1rem;
        scale: 0.9;
        padding: 1rem;
    }
    .image-project img{
        scale: 0.8;
    }
    .contact-container{
        flex-direction: column;
    }
    .contacts{
        height: 140vh;
    }
    .contact-container{
        width: 100%;
        margin-bottom: 3rem;
    }
    .input-form input,.text-message{
        width: 100%;
    }
   
}